HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Splitwise Backend (Spring Boot)

## Features
- User management
- Group creation
- Expense splitting

## Tech Stack
- Java Spring Boot
- PostgreSQL

## How to Run
1. Clone repo
2. Configure DB
3. Run applicationsrc/main/resources/application.properties
.env.local
